@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');


.PriceBoard{
    /* margin-top: 0px; */
    border-radius: 20px;
    text-align: center;
    background-color: lightgrey;
}

.Hover:hover{
    
    box-shadow: 28px 18px 63px -23px rgba(0,0,0,0.75);
    transform: scale(1.1) ;
    transition: transform 0.5s;

  

}


.Tit{
    font-family: 'Birthstone', cursive;
    font-size: 40px;
}

.position{
    position: fixed;
}