.setImg{
    height: 150px;
    border-radius: 50%;
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
}

.text{
    color: rgb(226, 80, 27);
}
.Hover{
    height: 800px;
}

.card-end{
    height: 472px;

}


.Hover:hover{
    
    box-shadow: 28px 18px 63px -23px rgba(0,0,0,0.75);
    transform: scale(1.1) ;
    transition: transform 0.5s;



}