.backImg{

    /* height: 500px; */
    background-image: url("https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/Design-Guide-IO_3X2.png");

    background-color: navy;
}

.main{
    border-left: 1px solid lightgrey;
}